.git
VCU_s19/
VCU_DEV/.metadata/
VCU_DEV/src/.metadata/
VCU_DEV/src/FLASH_TO_SDRAM/
VCU_DEV/src/RAM/
VCU_DEV_MVCU/.metadata/
VCU_DEV_MVCU/src/.metadata/
VCU_DEV_MVCU/src/FLASH_TO_SDRAM/
VCU_DEV_MVCU/src/RAM/
VCU_DEV_MVCU/build/out/CPU_A/*
*/build/out/CPU_A/*
!*/build/out/CPU_A/*.S19
!*/build/out/CPU_A/*.elf
!*/build/out/CPU_A/*.txt
*/build/out/CPU_B/*
!*/build/out/CPU_B/*.S19
!*/build/out/CPU_B/*.elf
!*/build/out/CPU_B/*.txt